* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.layout {
  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: "header" "content" "footer";
  justify-content: center;
  align-items: center;
}

header, footer {
    text-align: center;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: content;
    padding: 10% 20%;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.input-set {
    margin: 1% auto;
}