@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

body {
  font-family: "Roboto Slab", serif;
  background-color: black;
  background-image: url("http://clker.com/cliparts/K/C/r/p/W/o/grey-oak-tree-hi.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: top;
  background-position-x: left;
}

h1,
h2,
h3,
p {
  color: aliceblue;
}

article h3 {
  text-align: center;
}

.line__spacing {
  line-height: 30px;
  font-size: 36px;
}

.letter__spacing {
  letter-spacing: 10px;
  color: aquamarine;
}

address a {
  color: white;
  text-decoration: none;
}
