* {
  margin: 0;
  padding: 0;
  border: 0;
  /* Reshenie za ilnine-block chudnoto ponashanje */
  margin-inline: 0;
  padding-inline: 0;
  margin-block: 0;
  padding-block: 0;
}

article {
  float: left;
  width: 28%;
  height: 200px;
  text-align: justify;
  padding: 1em;
}

.first_block {
  overflow: hidden;
  transition: width 1s;
}
.first_block:hover {
  width: 33%;
}

.second_block {
  overflow-y: scroll;
  overflow-x: auto;
  transition: transform 1s;
  transform-origin: center;
}
.second_block:hover {
  transform: rotate(90deg);
}

.third_block {
  overflow: visible;
  transition: width 1s;
}
.third_block:hover {
  width: 33%;
}

header {
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 40, 30, 1);
}

nav {
  width: 100%;
  z-index: 1;
  transition: z-index 1s, backgroud-color 3s, color 1s;
  background-color: black;
  color: white;
}
nav:hover {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Nogu chudno se ponasha ako tagovite ne se napishani vo isti red */
.inline_block {
  display: inline-block;
  width: 15vw;
  /* Za da bide ramnostran pravoagolnik visinata vo shirina */
  height: 15vw;
}

/* Lesno... rotiraj */
@keyframes prva {
  100% {
    transform: rotate(360deg);
  }
}
#eden {
  animation-name: prva;
  animation-duration: 3s;
  background-color: red;
}

@keyframes vtora {
  50% {
    background-color: aqua;
  }
  100% {
    background-color: green;
  }
}

#dva {
  animation-name: vtora;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background-color: green;
}

/* Tuka imame translateY poradi toa sho elemento kje bide nadvor od ekrano */
@keyframes treta {
  100% {
    /* Relativna matematika poradi scale(2) */
    transform: translateX(22.5vw) translateY(7.5vw) scale(2);
  }
}

/* animation fill mode forwards za da si ostane 
   tamu deka e bilo ko zavrshe animacijata */
#tri {
  background-color: blue;
  animation-name: treta;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* Samo translate x poradi toa sho samo go pomestuvame na x oskata */
@keyframes cetvrta {
  100% {
    transform: translateX(-15vw);
  }
}

#cetiri {
  background-color: greenyellow;
  animation-name: cetvrta;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
