* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

article {
  height: max-content;
  width: 80%;
  margin: 2rem auto;
  border: 1px solid lightgray;
  border-radius: 1%;
}

.header,
.footer {
  height: 10%;
}

.header,
.footer,
.navigation {
  background-color: rgba(250, 235, 215, 0.596);
}

.main-content {
  max-height: 80%;
  height: 80%;
  max-width: 100%;
  width: 100%;
}

.navigation {
  border-right: 1px solid lightgray;
}

.nav-link {
  margin: 1rem 0; /*1 root font size radi estetika i ako na nekoj mu tekne da zgoleme root font size se da se zgoleme*/
}
.nav-link > a {
  text-decoration: none;
  color: inherit;
}

.articles-container {
  min-height: 100%;
  overflow-y: scroll;
  padding: 0 2rem;
}
.articles-container::-webkit-scrollbar {
  display: none;
}

.text-center {
  text-align: center;
}

.article-header {
  margin: auto 1rem;
}
.article-subtitle {
  color: darkgray;
  font-size: 0.7em;
}
.article-content {
  margin: 1rem 1rem;
}
.post-icon {
  max-width: 2rem;
}
.post-image {
  margin: 3% 0;
}
.article-image {
  width: 80%;
  margin: 0 10%;
}
figcaption {
  color: darkgray;
  font-size: 0.7em;
  text-align: center;
}
.link-icon {
  height: 1rem;
}
