.header,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.articles-container {
    width: 75%;
}

.article-header {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0 1rem
}
.article-header > div {
    margin: 0 1rem;
}
