.header,
.footer {
  display: grid;
  justify-content: center;
  align-content: center;
}

.main-content {
  display: grid;
  grid-template-columns: 25% 75%;
}

.navigation {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  align-content: center;
}

article {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4rem 90%;
  grid-template-areas: "article-header" "article-content";
}

.article-header {
  grid-area: article-header;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 2rem 1rem;
  grid-template-areas: "icon post-heading" "icon post-sub-heading";
  align-items: center;
}

.post-icon {
  grid-area: icon;
}

.post-heading {
  grid-area: post-heading;
}

.post-subtitle {
  grid-area: post-sub-heading;
}

.article-content {
  grid-area: article-content;
}
